:root {
    --form-background: #ddd;
    --primary: #363636;
    --primary-bis: #5f5f5f;
    --secondary: #ff6d6dea;
    --third: #fb9643ea;
    --fourth: #fab94fea;
  }
* {
    line-height: 1.4;
    font-family: Verdana, sans-serif;
    font-display: swap;
    box-sizing: border-box;
}
html {
        font-size: 62.5%;
    }
body {
    scroll-behavior: smooth;
    background: var(--primary, #363636);
    overflow: visible;
    margin: auto;
    max-width: 102.4rem;
    min-width: 37rem;
}
.header {
    border-radius: 30px;
    color: rgb(235, 235, 255);
    padding: 0.5rem 0 0;
    padding-top: 0;
}
.header_logo {
    display: block;
    margin: auto;
    width: 12rem;
    height: auto;
    padding: 6rem 1rem 2rem;  
    transition: .3s;
}
.header_logo:hover {
    opacity: 0.75;
    transform: translateY(-0.5rem);
    }
.header_nav {
    z-index: 1100;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(to right, var(--secondary, #ff6d6dea), var(--third, #fb9643ea), var(--fourth, #fab94fea)) ;
    max-width: 102.4rem;
    width: 100%;
    padding: 0;
    border-radius: 1rem; 
}
.header_nav a {
    border-radius: 1rem;
    text-decoration-line: none;
    padding: 0.1rem 2rem;
    font-size: 220%;
    color: var(--primary, #363636);
    transition: .3s;
}
.header_nav a:hover {  
    color: whitesmoke;
    background-color: #36363655;
}
a.select {
    color: whitesmoke;
    background-color: #363636ca;
    border: solid 2px;
    transition: .3s;
}
.up {
    z-index: 1000;
    text-decoration: none;
    position: fixed;
    bottom: 2.5rem;
    right: 2.5rem;
    padding: 0.3rem;
    color: whitesmoke;
    border: 0.2rem groove whitesmoke;
    background: var(--primary, #363636);
    border-radius: 1rem;
    transition: .3s;
}
a.select:hover, .up:hover {
    background-color: var(--primary, #363636);
    border-color: var(--secondary, #ff6d6dea);;
    color: var(--secondary, #ff6d6dea);
    transform: scale(0.95);
}
article {
    display: inline-block;
    background: white;
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 102.4rem;
    font-size: 2rem;
    border-radius: 2rem;
}
.sidebar {
    display: flex;
    flex-direction:row;
    justify-content:space-evenly;
    text-align: center;
    align-items: center;
    background: var(--third, #fb9643ea) ;
    padding: 0;
    border-top-right-radius: 2rem;
    border-top-left-radius: 2rem;
}
.stickysidebar { 
    display: flex; 
    flex-direction: row;    
}
.sidebar a {
    font-size:80%;
    text-align: center;
    background-color: var(--primary-bis, #4a4a4a);
    padding: 0.7rem 1.2rem;
    margin: 0.5rem;
    transition: .3s;
    text-decoration: none;
    color: whitesmoke;
    border-radius: 1rem;
}
.sidebar a:hover {
   transform: translateY(0.5rem);
   color: var(--secondary, #ff6d6dea);
}
.main {
    font-size: 80%;
    display: block;
    z-index: 500;
    padding: 2rem;
    max-width: 102.4rem;
}
.main p {  
    margin: 0 0.5rem;
    text-align: justify;
    color: black;
}
.formulaire {
    display: flex;
    flex-direction: column;
}
textarea {
    font-size: 1.6rem;
    text-indent: 3rem;
    border-radius: 3rem;
    max-width: 102,4rem;
    width: 100%;
    height: auto;
    background-color: var(--form-background, #ddd);
}
input {
    font-size: 1.6rem;
    border-radius: 3rem;
    padding: 0.4rem 1.5rem;
    max-width: 102,4rem;
    background-color: var(--form-background, #ddd);
}
label {
    padding-left: 2rem;
}
.organ {
    display: block;
    background-color: var(--form-background, #ddd);
    border-radius: 2rem;
    margin: 0 auto;
    object-fit: cover;
    width: 100%;
    max-height: auto; 
    transition: .3s;
}
.organ:hover {
    transform: scale(0.99);
    opacity: 0.8;
}
.algo {
    transition: .3s;
    background-color: var(--primary, #363636);
    border-radius: 2rem;
    float: right;
    width: 50%;
    height: auto;
    margin: 1rem;
    margin-left: 2rem;
}
.algo:hover {
    background-color: var(--fourth, #fab94fea);
}
.react {
    transition: 0.5s;
    background-color: var(--primary, #363636);
    border-radius: 2rem;
    float: left;
    width: 50%;
    height: auto;
    padding: 2rem 1rem 2rem;
    margin: 1rem;
    margin-right: 2rem;
}
.react:hover { 
    transform-origin: center; 
    transform: rotate(180deg);
    background-color: var(--fourth, #fab94fea);
}
h2 {
    text-align: center;
    margin: 0;
    padding: 1rem 0 3rem 0;
}
.footer {
    padding: 0;
    color: whitesmoke;
}
.footer p {
    font-size: 2rem;
    margin: 0;
    text-align: right;
}
.map {
    display: flex;
    flex-direction: column;
    justify-content:center ;
    align-items: center;
    padding: 2rem 0;
}
iframe {
    border-radius: 3rem;
    width: 95%;
    max-width: 102.4rem;
}
address {
    text-align: justify;
    color: black;
    font-size: 2rem;
}
hr {
    clear: both;
    margin: 2rem;
}

@media(min-width:768px) and (max-width: 1023px){ 
    html {
        font-size: 62.5%;
    }
    .algo, .react {
        width: 30%;
        height: auto;
    }
    .header_nav a {
        font-size: 280%;
    }
    .sidebar a {
        font-size: 100%;
    }
}

@media(min-width:1024px){
    .header_logo {
        padding: 7rem 1rem 2rem;  
    }
    article {
        display: grid;
        grid-template-columns: 1fr 6fr;
    }
    .sidebar {
        display: flex;
        flex-direction: column;
        top: 6rem;
        justify-content:flex-start;
        text-align: center;
        align-items:flex-start;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 2rem;
        padding: 0.5rem;
        transform: .3s;
    }
    .stickysidebar { 
        display: flex; 
        flex-direction: column;  
        top: 4.5rem;
        position: -webkit-sticky;
        position: sticky;   
    }
    .sidebar a {    
        font-size: 100%;
    }
    .sidebar a:hover {
        transform: translateX(1rem);
    }
    .header_nav a {
        font-size: 250%;
        padding: 0.1rem 5.2rem;
    }
    .algo, .react {
        width: 30%;
        height: auto;
    }
}
